*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    body
    {
    font-family: 'Times New Roman', Times, serif;
    background-image:url(../img/animalitos\ 2.1.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    
    }
    .boxing
    {
    width: 320px;
    height: 450px;
    background: #002e91;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd5b10f5, #910049);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #916914c7, #862b10e3);
    color: #fff;
    left: 40%;
    margin-top: 130px;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius:10%;
   }
   form
   {
    text-align:  center;
    margin:40px ;
    font-size: 30px;
    color: #ffffff;
    margin-bottom:40px;
    font-family: 'Times New Roman', Times, serif;

   }
   img.logotipo
   {
    width: 115px;
    height: 115px;
    position: absolute;
    top: 5px;
    left: calc(50% - 50px);
   }
    h1.login
    {
    padding-top: 10px;
    margin: 1px;
    margin-top: 25%;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    }
    input.jhon{
    padding: 8px;
     margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(49, 38, 37, 0.486);
    color: rgb(255, 253, 250);
    }
    input.boto{
    padding: 8px;
    margin-top: 25px;
    border-radius: 10px;
    width: 90px;
    cursor: pointer;
    background: #5e2503; /* fallback for old browsers */
    background: #3d4437;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48f442, #443737);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f44242af, #d11d26c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    }
    .boto:hover
    {
    transform: translatey(3px);
    background-color: #d13d3d ;
    box-shadow:10px 10px  20px rgba(0,0,0, 0.5);
    }
    a.contra
    {
    display: block;
    width: 100%;
    margin: 10px 0px;
    line-height: 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
           
    }
        