body{
    background-image: url(../img/gatico.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
.formulario{
    font-size: 15px;
    display: flex;
    position: absolute;
    top: 45px;
    left: 35%;
    padding: 5px;
    transform: translate(-50% -50%);
    box-sizing: border-box;
}
form{
    color: #fff;
    margin-top: 20px;
    align-content: center;
    background: rgba(0, 0, 0, .5);
    width: 500px;
    border-radius: 10px;
    height: 470px;
}
.regis{
    margin-top: 30px;
   margin: 15px;

}
.formulario img{
    margin: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25px;
    left: calc(50% - 50px);
}

h1{
    margin-left: 35px;
    margin-top: 25%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    margin: 20px;
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(49, 38, 37, 0.486);
    color: rgb(255, 253, 250); 
}
.edad{
    margin-left: 40px;
}
select{
    
    margin-left: 20px;
    font-size: 15px;
    width: 190px;
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(49, 38, 37, 0.486);
    color: rgb(255, 253, 250); 
}
.mascota{
    margin-right: 20px;
}
.enviar{
    margin-left: 55px;
    padding: 8px;
    margin-top: 25px;
    border-radius: 10px;
    width: 120px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    background: #d60b2de7;
}
.enviar:hover{
    transform: translatey(1px);
    background: #0b75d8b9;
    color: #000;
}
